# Biogas Production Analysis

In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
from termcolor import colored

In [7]:
df = pd.read_csv('veri_seti_son_2.csv')
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [8]:
df.head(3)

,Project Name,Project Type,City,County,State,Digester Type,Status,Year Operational,Animal/Farm Type(s),Cattle,Dairy,Poultry,Swine,Co-Digestion,Biogas Generation Estimate (cu-ft/day),Electricity Generated (kWh/yr),Biogas End Use(s),LCFS Pathway?,Receiving Utility,Total Emission Reductions (MTCO2e/yr),Awarded USDA Funding?,Operational Years,Total_Animals,Biogas_per_Animal (cu-ft/day),Emission_Reduction_per_Year,Electricity_to_Biogas_Ratio,Total_Waste_kg/day,Waste_Efficiency,Electricity_Efficiency
0,Cargill - Sandy River Farm Digester,Farm Scale,Morrilton,Conway,Arkansas,Covered Lagoon,Operational,2008.000,Swine,0.000,0.000,0.000,4200.000,No-Info,1814400.000,0.000,Flared Full-time,No-Info,No-Info,4482.755,No-Info,15.000,4200.000,432.000,298.850,0.000,21000.000,86.400,0.000
1,Butterfield RNG Digester,Farm Scale,Buckeye,Maricopa,Arizona,Mixed Plug Flow,Operational,2022.000,Dairy,0.000,11760.000,0.000,0.000,No-Info,109486.000,389698.200,Pipeline Gas,No-Info,Yes,14030.129,Yes,1.000,11760.000,9.310,14030.129,3.559,399840.000,0.274,0.975
2,Caballero Dairy Farms Digester,Farm Scale,Eloy,Pinal,Arizona,Unknown or Unspecified,Construction,2022.000,Dairy,0.000,8800.000,0.000,0.000,No-Info,94500.000,2813080.400,Pipeline Gas,No-Info,No-Info,98999.890,No-Info,1.000,8800.000,10.739,98999.890,29.768,299200.000,0.316,9.402

In [12]:
def print_section_title(title):
    print(colored(title, 'blue', attrs=['bold', 'underline']))

def print_heads_and_tails(dataframe, head = 5):
    display(dataframe.head(head).style.set_caption('Heads'))
    display(dataframe.tail(head).style.set_caption('Tails'))

def display_na(dataframe):
    na_df = df.isnull().sum().reset_index()
    na_df.columns = ['Column', 'Number of NA Values']
    display(na_df.style.set_caption('Number of Na Values'))


def display_quantiles(dataframe):
    quantiles_df = dataframe.describe([0, 0.05, 0.50, 0.95, 0.99, 1])
    display(quantiles_df.style.format("{:.2f}").set_caption('Quantiles'))

def check_df(dataframe, head = 5):
    print_section_title('Shape')
    print(dataframe.shape)
    print_section_title('Types')
    print(dataframe.dtypes.to_frame('Data Type').style.set_caption("Data Types"))
    print_section_title('Info')
    print(dataframe.info())
    print_section_title('Head and Tail')
    print_heads_and_tails(dataframe, head)
    print_section_title('Na Values')
    display_na(dataframe)
    print_section_title('Quantiles')
    display_quantiles(dataframe)

In [13]:
check_df(df)

Shape
(491, 29)
Types
<pandas.io.formats.style.Styler object at 0x0000021D37A106E0>
Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 491 entries, 0 to 490
Data columns (total 29 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Project Name                            491 non-null    object
 1   Project Type                            491 non-null    object
 2   City                                    491 non-null    object
 3   County                                  491 non-null    object
 4   State                                   491 non-null    object
 5   Digester Type                           491 non-null    object
 6   Status                                  491 non-null    object
 7   Year Operational                        491 non-null    float64
 8   Animal/Farm Type(s)                     491 non-null    object
 9   Cattle                                  491 non-null    float64
 10  Dairy                                   491 non-null    float64
 11  Poultry                                 491 non-null    float64
 12  Swine                                   491 non-null    float64
 13  Co-Digestion                            491 non-null    object
 14  Biogas Generation Estimate (cu-ft/day)  491 non-null    float64
 15  Electricity Generated (kWh/yr)          491 non-null    float64
 16  Biogas End Use(s)                       491 non-null    object
 17  LCFS Pathway?                           491 non-null    object
 18  Receiving Utility                       491 non-null    object
 19  Total Emission Reductions (MTCO2e/yr)   491 non-null    float64
 20  Awarded USDA Funding?                   491 non-null    object
 21  Operational Years                       491 non-null    float64
 22  Total_Animals                           491 non-null    float64
 23  Biogas_per_Animal (cu-ft/day)           491 non-null    float64
 24  Emission_Reduction_per_Year             491 non-null    float64
 25  Electricity_to_Biogas_Ratio             491 non-null    float64
 26  Total_Waste_kg/day                      491 non-null    float64
 27  Waste_Efficiency                        491 non-null    float64
 28  Electricity_Efficiency                  491 non-null    float64
dtypes: float64(16), object(13)
memory usage: 111.4+ KB
None
Head and Tail

Na Values

Quantiles

In [14]:
# let's drop columns that we do not need. We focus only on Dairy cattle
columns_to_drop = ["Project Name", "City", "County", "State", 'Cattle', 'Poultry', 'Swine', 'Total_Animals']

df.drop(columns_to_drop, axis =1, inplace=True)

In [18]:
# drop rows where dairy is 0
df = df[df['Dairy'] != 0]

In [19]:
df.shape

(420, 21)

In [20]:
df.head()

,Project Type,Digester Type,Status,Year Operational,Animal/Farm Type(s),Dairy,Co-Digestion,Biogas Generation Estimate (cu-ft/day),Electricity Generated (kWh/yr),Biogas End Use(s),LCFS Pathway?,Receiving Utility,Total Emission Reductions (MTCO2e/yr),Awarded USDA Funding?,Operational Years,Biogas_per_Animal (cu-ft/day),Emission_Reduction_per_Year,Electricity_to_Biogas_Ratio,Total_Waste_kg/day,Waste_Efficiency,Electricity_Efficiency
1,Farm Scale,Mixed Plug Flow,Operational,2022.000,Dairy,11760.000,No-Info,109486.000,389698.200,Pipeline Gas,No-Info,Yes,14030.129,Yes,1.000,9.310,14030.129,3.559,399840.000,0.274,0.975
2,Farm Scale,Unknown or Unspecified,Construction,2022.000,Dairy,8800.000,No-Info,94500.000,2813080.400,Pipeline Gas,No-Info,No-Info,98999.890,No-Info,1.000,10.739,98999.890,29.768,299200.000,0.316,9.402
3,Centralized/Regional,Complete Mix,Operational,2018.000,Dairy,30000.000,No-Info,3454500.000,2760336.000,Pipeline Gas,No-Info,Yes,337499.626,No-Info,5.000,115.150,67499.925,0.799,1020000.000,3.387,2.706
4,Farm Scale,Complete Mix,Operational,2021.000,Dairy,10000.000,No-Info,852545.200,0.000,CNG,No-Info,Yes,100569.493,No-Info,2.000,85.255,50284.747,0.000,340000.000,2.507,0.000
5,Farm Scale,Covered Lagoon,Operational,2011.000,Dairy,15000.000,No-Info,663685.200,5256000.000,Electricity,Yes,Yes,154991.550,No-Info,12.000,44.246,12915.962,7.919,510000.000,1.301,10.306

In [21]:

def grab_col_names(dataframe, cat_th = 10, car_th =20):
    cat_cols = [col for col in dataframe.columns if dataframe[col].dtypes == "O"] # categorical columns
    num_but_cat = [col for col in dataframe.columns if dataframe[col].nunique() < cat_th and dataframe[col].dtypes != "O"] # numerical categorical
    cat_but_car = [col for col in dataframe.columns if dataframe[col].nunique() > car_th and dataframe[col].dtypes == "O"] # continuous but in categ
    cat_cols = cat_cols + num_but_cat
    cat_cols = [col for col in cat_cols if col not in cat_but_car]
    num_cols = [col for col in dataframe.columns if dataframe[col].dtypes != "O"]
    num_cols = [col for col in num_cols if col not in num_but_cat]
    print(f"Observations: {dataframe.shape[0]}")
    print(f"Variables: {dataframe.shape[1]}")
    print(f'cat_cols: {len(cat_cols)}')
    print(f'num_cols: {len(num_cols)}')
    print(f'cat_but_car: {len(cat_but_car)}')
    print(f'num_but_cat: {len(num_but_cat)}')


    return cat_cols, num_cols, cat_but_car, num_but_cat

In [22]:
cat_cols, num_cols, cat_but_car, num_but_cat = grab_col_names(df)

Observations: 420
Variables: 21
cat_cols: 9
num_cols: 12
cat_but_car: 0
num_but_cat: 0

In [23]:
# lets outline categorical columns
cat_cols

['Project Type',
 'Digester Type',
 'Status',
 'Animal/Farm Type(s)',
 'Co-Digestion',
 'Biogas End Use(s)',
 'LCFS Pathway?',
 'Receiving Utility',
 'Awarded USDA Funding?']

In [27]:
num_cols

['Year Operational',
 'Dairy',
 'Biogas Generation Estimate (cu-ft/day)',
 'Electricity Generated (kWh/yr)',
 'Total Emission Reductions (MTCO2e/yr)',
 'Operational Years',
 'Biogas_per_Animal (cu-ft/day)',
 'Emission_Reduction_per_Year',
 'Electricity_to_Biogas_Ratio',
 'Total_Waste_kg/day',
 'Waste_Efficiency',
 'Electricity_Efficiency']

271